PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "_prisma_migrations" (
    "id"                    TEXT PRIMARY KEY NOT NULL,
    "checksum"              TEXT NOT NULL,
    "finished_at"           DATETIME,
    "migration_name"        TEXT NOT NULL,
    "logs"                  TEXT,
    "rolled_back_at"        DATETIME,
    "started_at"            DATETIME NOT NULL DEFAULT current_timestamp,
    "applied_steps_count"   INTEGER UNSIGNED NOT NULL DEFAULT 0
);
INSERT INTO _prisma_migrations VALUES('7f790088-d7ba-426e-9f5e-0959e2023580','55f185908c2389284f220d6a74bbe60ea3c2779a42814f3a89ba9fa68c4de716',1758960099846,'20250820120819_init',NULL,NULL,1758960099801,1);
INSERT INTO _prisma_migrations VALUES('f1709759-c5ea-46e5-ac44-081ddf7ded00','565ad90c8fd6c26a9a08d74e89449e0d0ba0063f510d50d18b3e52889714b839',1758960099948,'20250820160857_init',NULL,NULL,1758960099858,1);
INSERT INTO _prisma_migrations VALUES('53e7e1b5-6ca2-49ad-a5b2-2c0004d630f5','4021d1eb7d0b721822881228c64c351d2cce3aecb20e67ab449c6755c808e5ae',1758960100061,'20250927080139_init',NULL,NULL,1758960099986,1);
CREATE TABLE IF NOT EXISTS "image_generations" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "prompt" TEXT NOT NULL,
    "imageUrl" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'COMPLETED',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "image_generations_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
INSERT INTO image_generations VALUES('cmg1zox81000713n5dpe6v0zw','cmg1zowfw000013n5c9q1zls8','A serene landscape with mountains and a lake at sunset','https://placehold.co/600x400/4A90E2/FFFFFF.png?text=Generated+Image','COMPLETED',1758960543026,'2025-10-01 15:18:12');
INSERT INTO image_generations VALUES('cmg1zox9i000n13n5qmw1yh1z','cmg1zowsz000113n580kwomor','A serene landscape with mountains and a lake at sunset','https://placehold.co/600x400/4A90E2/FFFFFF.png?text=Generated+Image','COMPLETED',1758960543078,'2025-10-01 15:18:12');
INSERT INTO image_generations VALUES('cmg1zoxap001313n56qg2s6p3','user-123','A serene landscape with mountains and a lake at sunset','https://placehold.co/600x400/4A90E2/FFFFFF.png?text=Generated+Image','COMPLETED',1758960543122,'2025-10-01 15:18:12');

CREATE TABLE IF NOT EXISTS "messages" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "chatId" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'USER',
    "content" TEXT NOT NULL,
    "imageUrl" TEXT,
    "fileName" TEXT,
    "fileUri" TEXT,
    "fileMimeType" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "messages_chatId_fkey" FOREIGN KEY ("chatId") REFERENCES "chats" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
INSERT INTO messages VALUES('cmg1zox7o000413n5c6plf05m','cmg1zox7o000313n55ck0thv1','user','Hello! I''m Alice, nice to meet you!',NULL,NULL,NULL,NULL,1758960543010,'2025-10-01 15:18:12');
INSERT INTO messages VALUES('cmg1zox7o000513n59c6yud1y','cmg1zox7o000313n55ck0thv1','assistant','Hello Alice! I''m here to help you with your AI tasks. What would you like to explore today?',NULL,NULL,NULL,NULL,1758960543010,'2025-10-01 15:18:12');
INSERT INTO messages VALUES('cmg1zox8t000e13n5sqtbz00c','cmg1zox8t000d13n59wjy805g','user','Can you explain how neural networks work?',NULL,NULL,NULL,NULL,1758960543053,'2025-10-01 15:18:12');



CREATE TABLE IF NOT EXISTS "chats" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "title" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "chats_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
INSERT INTO chats VALUES('cmg1zox7o000313n55ck0thv1','cmg1zowfw000013n5c9q1zls8','Welcome Chat - Alice',1758960543010,'2025-10-01 15:18:12');
INSERT INTO chats VALUES('cmg1zox8t000d13n59wjy805g','cmg1zowfw000013n5c9q1zls8','Technical Discussion',1758960543053,'2025-10-01 15:18:12');
INSERT INTO chats VALUES('cmg1zox94000j13n5iam9frbc','cmg1zowsz000113n580kwomor','Welcome Chat - Bob',1758960543065,'2025-10-01 15:18:12');

CREATE TABLE IF NOT EXISTS "audio_jobs" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'TTS',
    "inputText" TEXT,
    "inputAudioUrl" TEXT,
    "outputUrl" TEXT,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "errorMessage" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "audio_jobs_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
INSERT INTO audio_jobs VALUES('cmg1zox8e000913n5u1986p9s','cmg1zowfw000013n5c9q1zls8','speech_to_text',NULL,'https://example.com/audio/sample-lecture.mp3','This is a transcribed lecture about artificial intelligence and machine learning fundamentals.','PENDING',NULL,1758960543039,'2025-10-01 15:18:12');
INSERT INTO audio_jobs VALUES('cmg1zox9n000p13n5cwn9d83a','cmg1zowsz000113n580kwomor','speech_to_text',NULL,'https://example.com/audio/sample-lecture.mp3','This is a transcribed lecture about artificial intelligence and machine learning fundamentals.','PENDING',NULL,1758960543084,'2025-10-01 15:18:12');
INSERT INTO audio_jobs VALUES('cmg1zoxb1001513n5t5dyx27d','user-123','speech_to_text',NULL,'https://example.com/audio/sample-lecture.mp3','This is a transcribed lecture about artificial intelligence and machine learning fundamentals.','PENDING',NULL,1758960543134,'2025-10-01 15:18:12');

CREATE TABLE IF NOT EXISTS "documents" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "title" TEXT,
    "content" TEXT NOT NULL,
    "summary" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "documents_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
INSERT INTO documents VALUES('cmg1zox8n000b13n5s3fii1gm','cmg1zowfw000013n5c9q1zls8','Project Requirements Document','This document outlines the requirements for our new AI-powered application...','Project requirements for AI application development.',1758960543047,'2025-10-01 15:18:12');
INSERT INTO documents VALUES('cmg1zox9t000r13n56tyukhxb','cmg1zowsz000113n580kwomor','Project Requirements Document','This document outlines the requirements for our new AI-powered application...','Project requirements for AI application development.',1758960543089,'2025-10-01 15:18:12');
INSERT INTO documents VALUES('cmg1zoxbg001713n5abx5vi8z','user-123','Project Requirements Document','This document outlines the requirements for our new AI-powered application...','Project requirements for AI application development.',1758960543149,'2025-10-01 15:18:12');

CREATE TABLE IF NOT EXISTS "users" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "email" TEXT NOT NULL,
    "name" TEXT,
    "password" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'USER',
    "avatarUrl" TEXT,
    "lastLoginAt" DATETIME,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "hasFaceRegistered" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);
INSERT INTO users VALUES('cmg1zowfw000013n5c9q1zls8','alice.johnson@example.com','Alice Johnson','$2b$12$4.O1k0Mfgsgv97B1TLFow.NfRFZrKF7k7807A2/z.tVeWMqTbpRP.','USER',NULL,NULL,1,0,1758960542005,'2025-10-01 15:18:12');
INSERT INTO users VALUES('cmg1zowsz000113n580kwomor','bob.smith@example.com','Bob Smith','$2b$12$swsmqi1Qxxq6HJ.kdcz.TOmxiTa9tfdv0tOo.zR8.4hCQUCC9Bnl2','USER',NULL,NULL,1,0,1758960542484,'2025-10-01 15:18:12');
INSERT INTO users VALUES('user-123','dev@example.com','Development User','$2b$12$TWxujTtvOIyQ8sweqByUDOZsxTr9p7hgTM35WwaJ3xFgjrOKBuT/K','USER',NULL,NULL,1,0,1758960542998,'2025-10-01 15:18:12');
CREATE TABLE IF NOT EXISTS "Workspace" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "userId" TEXT NOT NULL,
    "settings" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Workspace_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);
CREATE TABLE IF NOT EXISTS "Face" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "imageUrl" TEXT NOT NULL,
    "workspaceId" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "Face_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES "Workspace" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);
CREATE TABLE IF NOT EXISTS "ExperimentLog" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "type" TEXT NOT NULL,
    "result" TEXT NOT NULL,
    "screenshot" TEXT,
    "workspaceId" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE INDEX "image_generations_userId_idx" ON "image_generations"("userId");
CREATE INDEX "image_generations_createdAt_idx" ON "image_generations"("createdAt");
CREATE INDEX "messages_chatId_createdAt_idx" ON "messages"("chatId", "createdAt");
CREATE INDEX "messages_role_idx" ON "messages"("role");
CREATE INDEX "chats_userId_idx" ON "chats"("userId");
CREATE INDEX "chats_createdAt_idx" ON "chats"("createdAt");
CREATE INDEX "audio_jobs_userId_idx" ON "audio_jobs"("userId");
CREATE INDEX "audio_jobs_type_idx" ON "audio_jobs"("type");
CREATE INDEX "audio_jobs_status_idx" ON "audio_jobs"("status");
CREATE INDEX "audio_jobs_createdAt_idx" ON "audio_jobs"("createdAt");
CREATE INDEX "documents_userId_idx" ON "documents"("userId");
CREATE INDEX "documents_createdAt_idx" ON "documents"("createdAt");
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");
CREATE INDEX "users_email_idx" ON "users"("email");
CREATE INDEX "users_role_idx" ON "users"("role");
CREATE INDEX "users_createdAt_idx" ON "users"("createdAt");
CREATE INDEX "users_isActive_idx" ON "users"("isActive");
COMMIT;
